<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>completed? <%= check_box_tag 'completed', '1', @task.completed %></p>

<%= link_to 'Edit this task', edit_task_path %>
<%= link_to "Back to list", tasks_path %>